<section>
	<div class="section-header">
		<h1>Editar Evento</h1>
		{{link-to "Ver todos" "events.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "events/form"}}
	</div>
</section>
