<section>
	<div class="section-header">
		<h1>Crear Evento</h1>
		{{link-to "Ver eventos" "events.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "events/form"}}
	</div>
</section>
