<section>
	<div class="section-header">
		<h1>Crear  usuario</h1>
		{{link-to "Ver usuarios" "users.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "users/form"}}
	</div>
</section>
